SUBSYSTEM=="hidraw", ATTRS{idVendor}=="05af", ATTRS{idProduct}=="866a", MODE="0666"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0d62", ATTRS{idProduct}=="ba51", MODE="0666"
